.logo{
    display: none;
}
.box{
    display: block;
    padding-top: 10px;
}
.container{
    margin-left: 0px;
    margin-right: 0px;
}
header{
    flex-direction: column;
    align-items: center;
}
ul#main-menu{
    flex-direction: column;
    text-align: center;
}
#bar{
    display: block;
}
nav{
    display: none;
}
ul#main-menu a:hover{
    background-color: honeydew;
    transition: all;
}
#wrapper{
    max-width:230px;
    margin: 0px auto;
    padding-top: 8%;
}
#wrapper h1{
    text-align: center;
    margin-bottom: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.accordion-header{
    display: flex;
    font-size: 3vw;
    justify-content: space-between;
    align-items: center;
    background-color: #f7e549;
    padding: 5px 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.accordion-item.active .accordion-header{
    background-color: gold;
    color: black;
}
.arrow{
    transition: all 0.5s;
}
.accordion-item.active .arrow{
    transform: rotate(180deg);
}
.accordion-body{
    padding: 10px 10px;
    font-size: 3vw;
    background-color: rgb(228, 228, 228);
    display: none;
}
#btt{
    background: gold;
    color: black;
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0.5%;
    right: 0.5%;
    border: black solid;
    cursor: pointer;
    z-index: 9999;
}
.contact{
    position: fixed;
    top: 30%;
    z-index: 9999;
    margin-left: 0px;
}
div.contact ul > li{
    background-color: gold;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5vw;
}
div.contact ul > li:hover{
    transform: scale(1.2);
}
div.contact ul > li a{
    font-size: 2vw;
    color: black;
}